<ion-view ng-controller="analyseController as vm" title="分析">
  <div class="bar bar-header bar-positive">
    <div class="title">分析</div>
  </div>
  <ion-content class="has-header">
    <div class="row analyse-item" ng-repeat="list in vm.listData" type="item-text-wrap" ng-click="vm.fun.toOtherPage(list.id)">
      <div class="col col-20 col-center text-center">
        <img ng-src="assets/global/{{list.face}}" style="height:30px;width:27px;border-radius:0% !important;">
      </div>
      <div class="col col-center text-left">
        <span style="font-size:17px;">{{list.lastText}}</span>
      </div>
      <div class="col col-20 col-center text-center">
        <i class="icon ion-ios-arrow-right" style="font-size:20px;"></i>
      </div>
    </div>
  </ion-content>
</ion-view>